a {
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 132px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.dropdown-text.icon {
  position: absolute;
  left: 0
  color: red;
}

.dropdown-text {
  cursor: pointer;
  text-indent: 10px;
  line-height: 32px;
  background-color: #fff;
  border: 1px solid #E9E9E9;
  border-radius: 4px;
  width: 100%;
  padding: 0 3px;
  display: inline-block;
}

.dropdown-text:after {
  position: absolute;
  right: 12px;
  top: 15px;
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #555 transparent transparent transparent;
}

.dropdown-text,
.dropdown-content a {
  color: #333;
  transition: background-color .1s ease, color .1s ease;
}

.dropdown-toggle {
  font-size: 0;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
  border: none;
  padding: 0;
  margin: 0 0 0 1px;
  background: transparent;
  text-indent: -10px;
  height: 34px;
  width: 100%;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-content {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  list-style-type: none;
  position: absolute;
  top: 32px;
  margin: 0;
  opacity: 0;
  visibility:hidden;
  border-radius: 3px;
  line-height: 32px;
  background-color: #fff;
  border: 1px solid #E9E9E9;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  min-width: 200px;
  padding-left: 0;
  z-index: 5;
}

.dropdown-content a {
  display: block;
}

.dropdown-content,
.icon {
  text-indent: 0;
}

.dropdown-content li {
  text-indent: 10px;
}

.dropdown-content a:hover {
  background: #00A6ED;
  color: #fff;
}

.dropdown-toggle:hover ~ .dropdown-text,
.dropdown-toggle:focus ~ .dropdown-text {
  background-color: #F7FBFF;
}

.dropdown-toggle:focus ~ .dropdown-text {
  box-shadow: 0 1px 3px rgba(0,0,0, .2) inset, 0 1px 0 rgba(255,255,255, 0.8);
  z-index: 2;
}

.dropdown-toggle:focus ~ .dropdown-text:after {
  border-width: 0 4px 5px 4px;
  border-color: transparent transparent #555 transparent;
}

.dropdown-content:hover,
.dropdown-toggle:focus ~ .dropdown-content {
  opacity: 1;
  visibility:visible;
  top: 42px;
}

.dropdown-results {
  border-top: solid 1px #E9E9E9;
}

.dropdown-search {
  margin: 8px;
}